<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Anton.css">
    <link rel="stylesheet" href="assets/css/Exo%202.css">
    <link rel="stylesheet" href="assets/css/Nunito.css">
    <link rel="stylesheet" href="assets/css/Orbitron.css">
</head>

<body class="bg-gradient-primary" style="background: #2a2d36;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex" style="background: #a09679;">
                                <div class="flex-grow-1 bg-password-image" style="background: url(&quot;assets/img/dogs/2148578113.jpg&quot;) center / cover;"></div>
                            </div>
                            <div class="col-lg-6" style="background: #a09679;">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2" style="font-family: Orbitron, sans-serif;">Validate your password</h4>
                                        <p class="mb-4" style="color: #2a2d36;font-family: 'Exo 2', sans-serif;">Check your email to see your validation code</p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="number" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Validation Code..." name="validationCode" style="font-family: 'Exo 2', sans-serif;"></div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: #596069;border-color: #596069;font-family: Orbitron, sans-serif;">Confirm</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="link-dark small" href="register.html" style="font-family: 'Exo 2', sans-serif;">Create an Account!</a>
                                    </div>
                                    <div class="text-center"><a class="link-dark small" href="login.html" style="font-family: 'Exo 2', sans-serif;">Already have an account? Login!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>